In [3]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

In [4]:
# read data from IBGE

link0= '/Users/andreza/reproducibility_transportation_hubs-early_warning_surveillance_systems/data/fluvi_road_ibge.parquet'

#'/Users/julianeoliveira/Documents/Projects/AESOP/AESOP datalake/Mobility - Road-air-fluvial networks/rodoviario/fluvi_road_ibge.parquet'

df = pd.read_parquet(link0, engine='pyarrow')

In [5]:
muni = pd.read_csv('/Users/andreza/reproducibility_transportation_hubs-early_warning_surveillance_systems/data/DTB_BRASIL_MUNICIPIO.csv',sep=';')
                  
#/Users/julianeoliveira/Documents/Projects/AESOP/AESOP datalake/DTB_BRASIL_MUNICIPIO.csv

In [32]:
muni.head()

,UF,Nome_UF,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,Código Município Completo,Nome_Município,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,11,Rondônia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste,NaN,NaN,NaN,NaN,NaN,NaN
1,11,Rondônia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis,NaN,NaN,NaN,NaN,NaN,NaN
2,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso,NaN,NaN,NaN,NaN,NaN,NaN
3,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste,NaN,NaN,NaN,NaN,NaN,NaN
4,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# exclude international conection

df.uf_des.unique()

array(['AM', 'MT', 'PA', 'CE', 'PI', 'RN', 'SE', 'MG', 'GO', 'PB', 'BA',
       'SP', 'PR', 'AP', 'MA', 'RS', 'SC', 'PE', 'TO', 'RJ', 'RO', 'AL',
       'ES', 'DF', 'MS', 'AC', 'RR', 'ARG', 'PAR', 'VEN', 'PER', 'CHI',
       'BOL', 'URU'], dtype=object)

In [8]:
set_lis = ['AM', 'MT', 'PA', 'CE', 'PI', 'RN', 'SE', 'MG', 'BA', 'SP', 'PR',
       'MA', 'AL', 'RS', 'SC', 'PE', 'AP', 'RJ', 'TO', 'GO', 'RO', 'PB',
       'ES', 'AC', 'RR', 'MS', 'DF']

df6 = df[df.uf_des.isin(set_lis)]

In [9]:
data = df6.pivot(index='co_muni_ori', columns='co_muni_des', values='tot_conec')

In [10]:
data

co_muni_des,1100023,1100049,1100056,1100064,1100072,1100080,1100098,1100106,1100114,1100122,...,5221601,5221700,5221809,5221858,5221908,5222005,5222054,5222203,5222302,5300108
co_muni_ori,,,,,,,,,,,,,,,,,,,,,
1100015,7.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,7.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1100023,NaN,197.0,28.0,28.0,NaN,27.0,6.0,NaN,235.0,341.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
1100031,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1100049,NaN,NaN,21.0,21.0,NaN,NaN,49.0,NaN,173.0,199.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0
1100056,NaN,NaN,NaN,56.0,24.0,NaN,NaN,NaN,21.0,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5221700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
5221809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,42.0,NaN,NaN,NaN,NaN
5221858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN
5222005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0
5222302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0

In [11]:
#df3 não existia nessa versão do codigo
df3 = muni
lst = set(df3['Código Município Completo']) - set(data.columns)

In [38]:
for value in lst:
    
    lis = [0]*len(data)

    d = {value: lis}
    dtf = pd.DataFrame(data=d)
    dtf.set_index(data.index)
    
    data = data.join(dtf)

In [39]:
lst_index = set(df3['Código Município Completo']) - set(data.index)

In [40]:
for value in lst_index:
    data.loc[value] = [0]*5570

In [41]:
data = data.fillna(0)
data

,1100023,1100049,1100056,1100064,1100072,1100080,1100098,1100106,1100114,1100122,...,3135456,2500577,4106209,2201572,4218855,3102704,2500601,5203962,3115003,3528700
co_muni_ori,,,,,,,,,,,,,,,,,,,,,
1100015,7.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100023,0.0,197.0,28.0,28.0,0.0,27.0,6.0,0.0,235.0,341.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100031,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100049,0.0,0.0,21.0,21.0,0.0,0.0,49.0,0.0,173.0,199.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100056,0.0,0.0,0.0,56.0,24.0,0.0,0.0,0.0,21.0,28.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3102704,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3153905,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5203962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2803708,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4313086,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
data = data.reindex(sorted(data.columns), axis=1)

In [43]:
data = data.sort_index(axis=0)

In [44]:
final = data + data.transpose()

In [45]:
final.head()

,1100015,1100023,1100031,1100049,1100056,1100064,1100072,1100080,1100098,1100106,...,5221601,5221700,5221809,5221858,5221908,5222005,5222054,5222203,5222302,5300108
co_muni_ori,,,,,,,,,,,,,,,,,,,,,
1100015,0.0,7.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100023,7.0,0.0,0.0,197.0,28.0,28.0,0.0,27.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
1100031,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100049,20.0,197.0,0.0,0.0,21.0,21.0,0.0,0.0,49.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0
1100056,0.0,28.0,0.0,21.0,0.0,56.0,24.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
final.loc[1100189,1100924]

5.0

In [47]:
final.loc[1100924,1100189]

5.0

In [48]:
link_muni_vertice = pd.DataFrame(data.columns, columns=['muni'])

In [49]:
def get_mnumber(name):
    muni[muni['Nome_Município'] == name]
    
    co_mu = muni[muni['Nome_Município'] == name].reset_index()['Código Município Completo'][0]
    muni_number = link_muni_vertice[link_muni_vertice['muni'] == co_mu]['muni'].index.tolist()[0]
    print(muni_number,co_mu)

In [50]:
get_mnumber('Chupinguaia')

33 1100924

In [51]:
get_mnumber("Pimenta Bueno")

15 1100189

## Salvar adjacency_matrix para a mobilidade road e water

In [52]:
table = pa.Table.from_pandas(final)
pq.write_table(table, 'road_water_adjacency_matrix_symetric.parquet')
               
#'/Users/julianeoliveira/Documents/Projects/AESOP/AESOP datalake/Mobility - Road-air-fluvial networks/road_water_adjacency_matrix.parquet')

# Criar a matriz para air

In [44]:
link1 =  '/Users/andreza/reproducibility_transportation_hubs-early_warning_surveillance_systems/data/aero_anac_2017_2023.parquet'

#/Users/julianeoliveira/Documents/Projects/AESOP/AESOP datalake/Mobility - Road-air-fluvial networks/air/ANAC/aero_anac.parquet'

df2 = pd.read_parquet(link1, engine='pyarrow')

In [45]:
##selecting 2022 months

In [46]:
# df2 [ano,mes,co_muni_ori,co_muni_des,aero_pass]

In [47]:
df2 = df2[df2['nat'] == 'DOMÉSTICA']

In [48]:
df2.ano = df2.ano.astype(int)
df2.mes = df2.mes.astype(int)

In [49]:
data_2022 = df2[df2['ano'] == 2022]

In [50]:
data_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11166 entries, 74668 to 90084
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ano             11166 non-null  int64
 1   mes             11166 non-null  int64
 2   nat             11166 non-null  object
 3   nome_muni_ori   11166 non-null  object
 4   uf_ori          11166 non-null  object
 5   nome_muni_des   11166 non-null  object
 6   uf_des          11166 non-null  object
 7   co_muni_ori     11166 non-null  object
 8   co_muni_des     11166 non-null  object
 9   aero_pass       11166 non-null  int64
 10  co_uf_ori       11166 non-null  object
 11  co_uf_des       11166 non-null  object
 12  aero_pass_week  11166 non-null  float64
 13  aero_conec      11166 non-null  float64
dtypes: float64(2), int64(3), object(9)
memory usage: 1.3+ MB

In [51]:
# Create a dictionary to store adjacency matrices for each month
adjacency_matrices = {}

# Loop through each month
for month in range(1, 13):
    # Filter the data for the current month
    data_month = data_2022[data_2022['mes'] == month]
    
    # Create the adjacency matrix for the current month
    adjacency_matrix = data_month.pivot_table(index='co_muni_ori', columns='co_muni_des', values='aero_pass', aggfunc='sum', fill_value=0)
    
    # Save the adjacency matrix for the current month in the dictionary
    adjacency_matrices[month] = adjacency_matrix

# Display or save the adjacency matrices for each month
for month, adjacency_matrix in adjacency_matrices.items():
    print(f"Adjacency matrix for month {month}:\n{adjacency_matrix}\n")

Adjacency matrix for month 1:
co_muni_des  1100122  1100205  1100304  1200203  1200401  1301001  1301209  \
co_muni_ori
1100122            0        0        0        0        0        0        0
1100205            0        0        0        0        0        0        0
1100304            0        0        0        0        0        0        0
1200203            0        0        0        0      854        0        0
1200401            0        0        0      788        0        0        0
...              ...      ...      ...      ...      ...      ...      ...
5108402         2693     6485     2692        0        0        0        0
5204508            0        0        0        0        0        0        0
5208707            0        0        0        0        0        0        0
5218805            0        0        0        0        0        0        0
5300108            0    10082        0      940     8657        0        0

co_muni_des  1301407  1302405  1302603  ...  5107602  5107859  5107909  \
co_muni_ori                             ...
1100122            0        0        0  ...        0        0        0
1100205            0        0    11417  ...        0        0        0
1100304            0        0        0  ...        0        0        0
1200203            0        0        0  ...        0        0        0
1200401            0        0     1333  ...        0        0        0
...              ...      ...      ...  ...      ...      ...      ...
5108402            0        0        0  ...        0        0     4409
5204508            0        0        0  ...        0        0        0
5208707            0        0        0  ...        0        0        0
5218805            0        0        0  ...        0        0        0
5300108            0        0    19744  ...        0        0        0

co_muni_des  5107925  5107958  5108402  5204508  5208707  5218805  5300108
co_muni_ori
1100122            0        0     2757        0        0        0        0
1100205            0        0     6591        0        0        0     9418
1100304            0        0     2815        0        0        0        0
1200203            0        0        0        0        0        0     1372
1200401            0        0        0        0        0        0     8092
...              ...      ...      ...      ...      ...      ...      ...
5108402         1706        0        0        0     3368        0    14864
5204508            0        0        0        0        0        0        0
5208707            0        0     3853        0        0        0    13901
5218805            0        0        0        0        0        0        0
5300108            0        0    18056        0    15639        0        0

[147 rows x 147 columns]

Adjacency matrix for month 2:
co_muni_des  1100122  1100205  1100304  1200203  1200401  1301001  1301209  \
co_muni_ori
1100122            0        0        0        0        0        0        0
1100205            0        0        0        0        0        0        0
1100304            0        0        0        0        0        0        0
1200203            0        0        0        0      690        0        0
1200401            0        0        0      639        0        0        0
...              ...      ...      ...      ...      ...      ...      ...
5108402         2958     4942     1786        0        0        0        0
5204508            0        0        0        0        0        0        0
5208707            0        0        0        0        0        0        0
5218805            0        0        0        0        0        0        0
5300108            0     8424        0     1019     7821        0        0

co_muni_des  1301407  1302405  1302603  ...  5107602  5107859  5107909  \
co_muni_ori                             ...
1100122            0        0        0  ...        0        0        0
1100205            0        0     7152  ...        0        0        0
1100304            0        0        0  ...        0        0        0
1200203            0        0        0  ...        0        0        0
1200401            0        0        0  ...        0        0        0
...              ...      ...      ...  ...      ...      ...      ...
5108402            0        0        0  ...        0        0     3005
5204508            0        0        0  ...        0        0        0
5208707            0        0        0  ...        0        0        0
5218805            0        0        0  ...        0        0        0
5300108            0        0    14096  ...        0        0        0

co_muni_des  5107925  5107958  5108402  5204508  5208707  5218805  5300108
co_muni_ori
1100122            0        0     2764        0        0        0        0
1100205            0        0     4551        0        0        0     8374
1100304            0        0     1636        0        0        0        0
1200203            0        0        0        0        0        0     1034
1200401            0        0        0        0        0        0     7453
...              ...      ...      ...      ...      ...      ...      ...
5108402          904        0        0        0     2319        0    10703
5204508            0        0        0        0        0        0        0
5208707            0        0     2322        0        0        0     9024
5218805            0        0        0        0        0        0        0
5300108            0        0    11648        0     9365        0        0

[145 rows x 146 columns]

Adjacency matrix for month 3:
co_muni_des  1100122  1100205  1100304  1200203  1200401  1301001  1301209  \
co_muni_ori
1100122            0        0        0        0        0        0        0
1100205            0        0        0        0        0        0        0
1100304            0        0        0        0        0        0        0
1200203            0        0        0        0     1087        0        0
1200401            0        0        0     1060        0        0        0
...              ...      ...      ...      ...      ...      ...      ...
5108402         3307     4485     2502        0        0        0        0
5204508            0        0        0        0        0        0        0
5208707            0        0        0        0        0        0        0
5218805            0        0        0        0        0        0        0
5300108            0     8065        0      873     8635        0        0

co_muni_des  1301407  1302405  1302603  ...  5107602  5107859  5107909  \
co_muni_ori                             ...
1100122            0        0        0  ...        0        0        0
1100205            0        0     6281  ...        0        0        0
1100304            0        0        0  ...        0        0        0
1200203            0        0        0  ...        0        0        0
1200401            0        0      151  ...        0        0        0
...              ...      ...      ...  ...      ...      ...      ...
5108402            0        0        0  ...        0        0     3175
5204508            0        0        0  ...        0        0        0
5208707            0        0        0  ...        0        0        0
5218805            0        0        0  ...        0        0        0
5300108            0        0    13569  ...        0        0        0

co_muni_des  5107925  5107958  5108402  5204508  5208707  5218805  5300108
co_muni_ori
1100122            0        0     3734        0        0        0        0
1100205            0        0     4350        0        0        0     8946
1100304            0        0     2684        0        0        0        0
1200203            0        0        0        0        0        0     1007
1200401            0        0        0        0        0        0     7684
...              ...      ...      ...      ...      ...      ...      ...
5108402         2202        0        0        0     2999        0    12752
5204508            0        0        0        0        0        0        0
5208707            0        0     3206        0        0        0    10624
5218805            0        0        0        0        0        0        0
5300108            0        0    12845        0    10771        0        0

[146 rows x 146 columns]

Adjacency matrix for month 4:
co_muni_des  1100049  1100122  1100205  1100304  1200203  1200401  1301001  \
co_muni_ori
1100049            0        0        0        0        0        0        0
1100122            0        0      105        0        0        0        0
1100205            0       86        0      121        0        0        0
1100304            0        0      135        0        0        0        0
1200203            0        0        0        0        0      783        0
...              ...      ...      ...      ...      ...      ...      ...
5108402         2030     2673     4077     2126        0        0        0
5204508            0        0        0        0        0        0        0
5208707            0        0        0        0        0        0        0
5218805            0        0        0        0        0        0        0
5300108            0        0     7230        0      837     4428        0

co_muni_des  1301209  1301407  1302405  ...  5107602  5107859  5107909  \
co_muni_ori                             ...
1100049            0        0        0  ...        0        0        0
1100122            0        0        0  ...        0        0        0
1100205            0        0        0  ...        0        0        0
1100304            0        0        0  ...        0        0        0
1200203            0        0        0  ...        0        0        0
...              ...      ...      ...  ...      ...      ...      ...
5108402            0        0        0  ...        0        0     4062
5204508            0        0        0  ...        0        0        0
5208707            0        0        0  ...        0        0        0
5218805            0        0        0  ...        0        0        0
5300108            0        0        0  ...        0        0        0

co_muni_des  5107925  5107958  5108402  5204508  5208707  5218805  5300108
co_muni_ori
1100049            0        0     2192        0        0        0        0
1100122            0        0     2775        0        0        0        0
1100205            0        0     4072        0        0        0     7544
1100304            0        0     2172        0        0        0        0
1200203            0        0        0        0        0        0      896
...              ...      ...      ...      ...      ...      ...      ...
5108402         2049        0        0        0     3548        0    12319
5204508            0        0        0        0        0        0        0
5208707            0        0     3629        0        0        0     6995
5218805            0        0        0        0        0        0        0
5300108            0        0    11885        0     8446        0        0

[150 rows x 150 columns]

Adjacency matrix for month 5:
co_muni_des  1100049  1100122  1100205  1100304  1200203  1200401  1300409  \
co_muni_ori
1100049            0        0        0        0        0        0        0
1100122            0        0      180        0        0        0        0
1100205            0      180        0      138        0        0        0
1100304            0        0      126        0        0        0        0
1200203            0        0        0        0        0      865        0
...              ...      ...      ...      ...      ...      ...      ...
5108402         2981     2758     4475     2421        0        0        0
5204508            0        0        0        0        0        0        0
5208707            0        0        0        0        0        0        0
5218805            0        0        0        0        0        0        0
5300108            0        0     7794        0      866     4192        0

co_muni_des  1301001  1301209  1301407  ...  5107602  5107859  5107909  \
co_muni_ori                             ...
1100049            0        0        0  ...        0        0        0
1100122            0        0        0  ...        0        0        0
1100205            0        0        0  ...        0        0        0
1100304            0        0        0  ...        0        0        0
1200203            0        0        0  ...        0        0        0
...              ...      ...      ...  ...      ...      ...      ...
5108402            0        0        0  ...        0       11     3588
5204508            0        0        0  ...        0        0        0
5208707            0        0        0  ...        0        0        0
5218805            0        0        0  ...        0        0        0
5300108            0        0        0  ...        0        0     3113

co_muni_des  5107925  5107958  5108402  5204508  5208707  5218805  5300108
co_muni_ori
1100049            0        0     3064        0        0        0        0
1100122            0        0     2658        0        0        0        0
1100205            0        0     4388        0        0        0     7280
1100304            0        0     2409        0        0        0        0
1200203            0        0        0        0        0        0      855
...              ...      ...      ...      ...      ...      ...      ...
5108402         2520        0        0        0     2898        0    11656
5204508            0        0        0        0        0        0        0
5208707            0        0     3044        0        0        0     6245
5218805            0        0        0        0        0        0        0
5300108            0        0    11310        0     7778        0        0

[150 rows x 149 columns]

Adjacency matrix for month 6:
co_muni_des  1100049  1100122  1100205  1100304  1200203  1200401  1300409  \
co_muni_ori
1100049            0        0        0        0        0        0        0
1100122            0        0      118        0        0        0        0
1100205            0       96        0      108        0        0        0
1100304            0        0      119        0        0        0        0
1200203            0        0        0        0        0      843        0
...              ...      ...      ...      ...      ...      ...      ...
5108402         2538     2527     3806     1971        0        0        0
5204508            0        0        0        0        0        0        0
5208707            0        0        0        0        0        0        0
5218805            0        0        0        0        0        0        0
5300108            0        0     6745        0      656     4140        0

co_muni_des  1301001  1301209  1301407  ...  5107602  5107859  5107909  \
co_muni_ori                             ...
1100049            0        0        0  ...        0        0        0
1100122            0        0        0  ...        0        0        0
1100205            0        0        0  ...        0        0        0
1100304            0        0        0  ...        0        0        0
1200203            0        0        0  ...        0        0        0
...              ...      ...      ...  ...      ...      ...      ...
5108402            0        0        0  ...        0        0     4369
5204508            0        0        0  ...        0        0        0
5208707            0        0        0  ...        0        0        0
5218805            0        0        0  ...        0        0        0
5300108            0        0        0  ...        0        0     3491

co_muni_des  5107925  5107958  5108402  5204508  5208707  5218805  5300108
co_muni_ori
1100049            0        0     2700        0        0        0        0
1100122            0        0     2386        0        0        0        0
1100205            0        0     3963        0        0        0     6433
1100304            0        0     2100        0        0        0        0
1200203            0        0        0        0        0        0      768
...              ...      ...      ...      ...      ...      ...      ...
5108402         2393        0        0        0     2776        0     9595
5204508            0        0        0        0        0        0        0
5208707            0        0     2702        0        0        0     6600
5218805            0        0        0        0        0        0        0
5300108            0        0     9249        0     6424        0        0

[150 rows x 152 columns]

Adjacency matrix for month 7:
co_muni_des  1100049  1100122  1100205  1100304  1200203  1200401  1300409  \
co_muni_ori
1100049            0        0        0        0        0        0        0
1100122            0        0      102        0        0        0        0
1100205            0       43        0       39        0        0        0
1100304            0        0       41        0        0        0        0
1200203            0        0        0        0        0      843        0
...              ...      ...      ...      ...      ...      ...      ...
5108402         2983     3104     4901     2870        0        0        0
5204508            0        0        0        0        0        0        0
5208707            0        0        0        0        0        0        0
5218805            0        0        0        0        0        0        0
5300108            0        0     8985        0     1040     7775        0

co_muni_des  1301001  1301209  1301407  ...  5107602  5107859  5107909  \
co_muni_ori                             ...
1100049            0        0        0  ...        0        0        0
1100122            0        0        0  ...        0        0        0
1100205            0        0        0  ...        0        0        0
1100304            0        0        0  ...        0        0        0
1200203            0        0        0  ...        0        0        0
...              ...      ...      ...  ...      ...      ...      ...
5108402            0        0        0  ...        0        0     3638
5204508            0        0        0  ...        0        0        0
5208707            0        0        0  ...        0        0        0
5218805            0        0        0  ...        0        0        0
5300108            0        0        0  ...        0        0     3745

co_muni_des  5107925  5107958  5108402  5204508  5208707  5218805  5300108
co_muni_ori
1100049            0        0     3316        0        0        0        0
1100122            0        0     3218        0        0        0        0
1100205            0        0     4935        0        0        0     9244
1100304            0        0     2877        0        0        0        0
1200203            0        0        0        0        0        0      938
...              ...      ...      ...      ...      ...      ...      ...
5108402         3183        0        0        0     3130        0    16801
5204508            0        0        0        0        0        0        0
5208707            0        0     3124        0        0        0    15246
5218805            0        0        0        0        0        0        0
5300108            0        0    16028        0    15043        0        0

[152 rows x 151 columns]

Adjacency matrix for month 8:
co_muni_des  1100049  1100122  1100205  1100304  1200203  1200401  1300409  \
co_muni_ori
1100049            0        0        0        0        0        0        0
1100122            0        0        8        0        0        0        0
1100205            0       15        0        0        0       73        0
1100304            0        0        0        0        0        0        0
1200203            0        0        0        0        0      854        0

In [59]:
# check the number of rows and columns
df_matrix_month_1 = adjacency_matrices[1]

# Get the number of rows and columns
num_rows, num_columns = df_matrix_month_1.shape

# Print the number of rows and columns
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 147
Number of columns: 147

In [64]:
lst = set(df3['Código Município Completo']) - set(data_2022.columns)

In [68]:
for value in lst:
#     for matrix in adjacency_matrices.items():
    
    lis = [0]*len(df_matrix_month_1)

    d = {value: lis}
    dtf = pd.DataFrame(data=d)
    dtf.set_index(df_matrix_month_1.index)
    
    df_matrix_month_1 = df_matrix_month_1.join(dtf)

In [69]:
# check the number of rows and columns
# df_matrix_month_1 = adjacency_matrices[1]

# Get the number of rows and columns
num_rows, num_columns = df_matrix_month_1.shape

# Print the number of rows and columns
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 147
Number of columns: 5717

In [71]:
lst_index = set(df3['Código Município Completo']) - set(data_2022.index)

In [73]:
for value in lst_index:
    df_matrix_month_1.loc[value] = [0]*5570

KeyboardInterrupt:

In [ ]:
dat_air = dat_air.fillna(0)
dat_air

In [54]:
import pandas as pd
from multiprocessing import Pool, cpu_count

# Function to process each adjacency matrix
def process_adjacency_matrix(args):
    matrix, lst_value = args
    lis = [0] * len(matrix)
    d = {lst_value: lis}
    dtf = pd.DataFrame(data=d)
    dtf.set_index(matrix.index)
    return dtf

if __name__ == '__main__':
    # Number of processes to run in parallel
    num_processes = cpu_count()

    # Create a pool of processes
    pool = Pool(processes=num_processes)

    # Apply the process_adjacency_matrix function to each adjacency matrix and corresponding lst value in parallel
    results = pool.map(process_adjacency_matrix, zip(adjacency_matrices.values(), lst))

    # Close the pool of processes to free resources
    pool.close()
    pool.join()

    # Create a dictionary to store processed DataFrames for each month
    processed_dfs = {}

    # Join the results to the original adjacency_matrices dictionary
    for ((month, matrix), result_df) in zip(adjacency_matrices.items(), results):
        processed_dfs[month] = matrix.join(result_df)

    # Now processed_dfs contains the processed DataFrame for each month, where each DataFrame is joined with the corresponding adjacency matrix

In [55]:
# To print each DataFrame for each month
for month, df in processed_dfs.items():
    print(f"DataFrame for month {month}:\n{df}\n")

# To access a specific DataFrame for a particular month (e.g., month 1)
df_month_1 = processed_dfs[1]
print(f"DataFrame for month 1:\n{df_month_1}\n")

# To iterate over the dictionary and work with each DataFrame
for month, df in processed_dfs.items():
    # Do something with df
    pass  # Placeholder, replace with your code

DataFrame for month 1:
             1100122  1100205  1100304  1200203  1200401  1301001  1301209  \
co_muni_ori
1100122            0        0        0        0        0        0        0
1100205            0        0        0        0        0        0        0
1100304            0        0        0        0        0        0        0
1200203            0        0        0        0      854        0        0
1200401            0        0        0      788        0        0        0
...              ...      ...      ...      ...      ...      ...      ...
5108402         2693     6485     2692        0        0        0        0
5204508            0        0        0        0        0        0        0
5208707            0        0        0        0        0        0        0
5218805            0        0        0        0        0        0        0
5300108            0    10082        0      940     8657        0        0

             1301407  1302405  1302603  ...  5107859  5107909  5107925  \
co_muni_ori                             ...
1100122            0        0        0  ...        0        0        0
1100205            0        0    11417  ...        0        0        0
1100304            0        0        0  ...        0        0        0
1200203            0        0        0  ...        0        0        0
1200401            0        0     1333  ...        0        0        0
...              ...      ...      ...  ...      ...      ...      ...
5108402            0        0        0  ...        0     4409     1706
5204508            0        0        0  ...        0        0        0
5208707            0        0        0  ...        0        0        0
5218805            0        0        0  ...        0        0        0
5300108            0        0    19744  ...        0        0        0

             5107958  5108402  5204508  5208707  5218805  5300108  4309001
co_muni_ori
1100122            0     2757        0        0        0        0      NaN
1100205            0     6591        0        0        0     9418      NaN
1100304            0     2815        0        0        0        0      NaN
1200203            0        0        0        0        0     1372      NaN
1200401            0        0        0        0        0     8092      NaN
...              ...      ...      ...      ...      ...      ...      ...
5108402            0        0        0     3368        0    14864      NaN
5204508            0        0        0        0        0        0      NaN
5208707            0     3853        0        0        0    13901      NaN
5218805            0        0        0        0        0        0      NaN
5300108            0    18056        0    15639        0        0      NaN

[147 rows x 148 columns]

DataFrame for month 2:
             1100122  1100205  1100304  1200203  1200401  1301001  1301209  \
co_muni_ori
1100122            0        0        0        0        0        0        0
1100205            0        0        0        0        0        0        0
1100304            0        0        0        0        0        0        0
1200203            0        0        0        0      690        0        0
1200401            0        0        0      639        0        0        0
...              ...      ...      ...      ...      ...      ...      ...
5108402         2958     4942     1786        0        0        0        0
5204508            0        0        0        0        0        0        0
5208707            0        0        0        0        0        0        0
5218805            0        0        0        0        0        0        0
5300108            0     8424        0     1019     7821        0        0

             1301407  1302405  1302603  ...  5107859  5107909  5107925  \
co_muni_ori                             ...
1100122            0        0        0  ...        0        0        0
1100205            0        0     7152  ...        0        0        0
1100304            0        0        0  ...        0        0        0
1200203            0        0        0  ...        0        0        0
1200401            0        0        0  ...        0        0        0
...              ...      ...      ...  ...      ...      ...      ...
5108402            0        0        0  ...        0     3005      904
5204508            0        0        0  ...        0        0        0
5208707            0        0        0  ...        0        0        0
5218805            0        0        0  ...        0        0        0
5300108            0        0    14096  ...        0        0        0

             5107958  5108402  5204508  5208707  5218805  5300108  4210704
co_muni_ori
1100122            0     2764        0        0        0        0      NaN
1100205            0     4551        0        0        0     8374      NaN
1100304            0     1636        0        0        0        0      NaN
1200203            0        0        0        0        0     1034      NaN
1200401            0        0        0        0        0     7453      NaN
...              ...      ...      ...      ...      ...      ...      ...
5108402            0        0        0     2319        0    10703      NaN
5204508            0        0        0        0        0        0      NaN
5208707            0     2322        0        0        0     9024      NaN
5218805            0        0        0        0        0        0      NaN
5300108            0    11648        0     9365        0        0      NaN

[145 rows x 147 columns]

DataFrame for month 3:
             1100122  1100205  1100304  1200203  1200401  1301001  1301209  \
co_muni_ori
1100122            0        0        0        0        0        0        0
1100205            0        0        0        0        0        0        0
1100304            0        0        0        0        0        0        0
1200203            0        0        0        0     1087        0        0
1200401            0        0        0     1060        0        0        0
...              ...      ...      ...      ...      ...      ...      ...
5108402         3307     4485     2502        0        0        0        0
5204508            0        0        0        0        0        0        0
5208707            0        0        0        0        0        0        0
5218805            0        0        0        0        0        0        0
5300108            0     8065        0      873     8635        0        0

             1301407  1302405  1302603  ...  5107859  5107909  5107925  \
co_muni_ori                             ...
1100122            0        0        0  ...        0        0        0
1100205            0        0     6281  ...        0        0        0
1100304            0        0        0  ...        0        0        0
1200203            0        0        0  ...        0        0        0
1200401            0        0      151  ...        0        0        0
...              ...      ...      ...  ...      ...      ...      ...
5108402            0        0        0  ...        0     3175     2202
5204508            0        0        0  ...        0        0        0
5208707            0        0        0  ...        0        0        0
5218805            0        0        0  ...        0        0        0
5300108            0        0    13569  ...        0        0        0

             5107958  5108402  5204508  5208707  5218805  5300108  4112405
co_muni_ori
1100122            0     3734        0        0        0        0      NaN
1100205            0     4350        0        0        0     8946      NaN
1100304            0     2684        0        0        0        0      NaN
1200203            0        0        0        0        0     1007      NaN
1200401            0        0        0        0        0     7684      NaN
...              ...      ...      ...      ...      ...      ...      ...
5108402            0        0        0     2999        0    12752      NaN
5204508            0        0        0        0        0        0      NaN
5208707            0     3206        0        0        0    10624      NaN
5218805            0        0        0        0        0        0      NaN
5300108            0    12845        0    10771        0        0      NaN

[146 rows x 147 columns]

DataFrame for month 4:
             1100049  1100122  1100205  1100304  1200203  1200401  1301001  \
co_muni_ori
1100049            0        0        0        0        0        0        0
1100122            0        0      105        0        0        0        0
1100205            0       86        0      121        0        0        0
1100304            0        0      135        0        0        0        0
1200203            0        0        0        0        0      783        0
...              ...      ...      ...      ...      ...      ...      ...
5108402         2030     2673     4077     2126        0        0        0
5204508            0        0        0        0        0        0        0
5208707            0        0        0        0        0        0        0
5218805            0        0        0        0        0        0        0
5300108            0        0     7230        0      837     4428        0

             1301209  1301407  1302405  ...  5107859  5107909  5107925  \
co_muni_ori                             ...
1100049            0        0        0  ...        0        0        0
1100122            0        0        0  ...        0        0        0
1100205            0        0        0  ...        0        0        0
1100304            0        0        0  ...        0        0        0
1200203            0        0        0  ...        0        0        0
...              ...      ...      ...  ...      ...      ...      ...
5108402            0        0        0  ...        0     4062     2049
5204508            0        0        0  ...        0        0        0
5208707            0        0        0  ...        0        0        0
5218805            0        0        0  ...        0        0        0
5300108            0        0        0  ...        0        0        0

             5107958  5108402  5204508  5208707  5218805  5300108  3506201
co_muni_ori
1100049            0     2192        0        0        0        0      NaN
1100122            0     2775        0        0        0        0      NaN
1100205            0     4072        0        0        0     7544      NaN
1100304            0     2172        0        0        0        0      NaN
1200203            0        0        0        0        0      896      NaN
...              ...      ...      ...      ...      ...      ...      ...
5108402            0        0        0     3548        0    12319      NaN
5204508            0        0        0        0        0        0      NaN
5208707            0     3629        0        0        0     6995      NaN
5218805            0        0        0        0        0        0      NaN
5300108            0    11885        0     8446        0        0      NaN

[150 rows x 151 columns]

DataFrame for month 5:
             1100049  1100122  1100205  1100304  1200203  1200401  1300409  \
co_muni_ori
1100049            0        0        0        0        0        0        0
1100122            0        0      180        0        0        0        0
1100205            0      180        0      138        0        0        0
1100304            0        0      126        0        0        0        0
1200203            0        0        0        0        0      865        0
...              ...      ...      ...      ...      ...      ...      ...
5108402         2981     2758     4475     2421        0        0        0
5204508            0        0        0        0        0        0        0
5208707            0        0        0        0        0        0        0
5218805            0        0        0        0        0        0        0
5300108            0        0     7794        0      866     4192        0

             1301001  1301209  1301407  ...  5107859  5107909  5107925  \
co_muni_ori                             ...
1100049            0        0        0  ...        0        0        0
1100122            0        0        0  ...        0        0        0
1100205            0        0        0  ...        0        0        0
1100304            0        0        0  ...        0        0        0
1200203            0        0        0  ...        0        0        0
...              ...      ...      ...  ...      ...      ...      ...
5108402            0        0        0  ...       11     3588     2520
5204508            0        0        0  ...        0        0        0
5208707            0        0        0  ...        0        0        0
5218805            0        0        0  ...        0        0        0
5300108            0        0        0  ...        0     3113        0

             5107958  5108402  5204508  5208707  5218805  5300108  3555356
co_muni_ori
1100049            0     3064        0        0        0        0      NaN
1100122            0     2658        0        0        0        0      NaN
1100205            0     4388        0        0        0     7280      NaN
1100304            0     2409        0        0        0        0      NaN
1200203            0        0        0        0        0      855      NaN
...              ...      ...      ...      ...      ...      ...      ...
5108402            0        0        0     2898        0    11656      NaN
5204508            0        0        0        0        0        0      NaN
5208707            0     3044        0        0        0     6245      NaN
5218805            0        0        0        0        0        0      NaN
5300108            0    11310        0     7778        0        0      NaN

[150 rows x 150 columns]

DataFrame for month 6:
             1100049  1100122  1100205  1100304  1200203  1200401  1300409  \
co_muni_ori
1100049            0        0        0        0        0        0        0
1100122            0        0      118        0        0        0        0
1100205            0       96        0      108        0        0        0
1100304            0        0      119        0        0        0        0
1200203            0        0        0        0        0      843        0
...              ...      ...      ...      ...      ...      ...      ...
5108402         2538     2527     3806     1971        0        0        0
5204508            0        0        0        0        0        0        0
5208707            0        0        0        0        0        0        0
5218805            0        0        0        0        0        0        0
5300108            0        0     6745        0      656     4140        0

             1301001  1301209  1301407  ...  5107859  5107909  5107925  \
co_muni_ori                             ...
1100049            0        0        0  ...        0        0        0
1100122            0        0        0  ...        0        0        0
1100205            0        0        0  ...        0        0        0
1100304            0        0        0  ...        0        0        0
1200203            0        0        0  ...        0        0        0
...              ...      ...      ...  ...      ...      ...      ...
5108402            0        0        0  ...        0     4369     2393
5204508            0        0        0  ...        0        0        0
5208707            0        0        0  ...        0        0        0
5218805            0        0        0  ...        0        0        0
5300108            0        0        0  ...        0     3491        0

             5107958  5108402  5204508  5208707  5218805  5300108  2801702
co_muni_ori
1100049            0     2700        0        0        0        0      NaN
1100122            0     2386        0        0        0        0      NaN
1100205            0     3963        0        0        0     6433      NaN
1100304            0     2100        0        0        0        0      NaN
1200203            0        0        0        0        0      768      NaN
...              ...      ...      ...      ...      ...      ...      ...
5108402            0        0        0     2776        0     9595      NaN
5204508            0        0        0        0        0        0      NaN
5208707            0     2702        0        0        0     6600      NaN
5218805            0        0        0        0        0        0      NaN
5300108            0     9249        0     6424        0        0      NaN

[150 rows x 153 columns]

DataFrame for month 7:
             1100049  1100122  1100205  1100304  1200203  1200401  1300409  \
co_muni_ori
1100049            0        0        0        0        0        0        0
1100122            0        0      102        0        0        0        0
1100205            0       43        0       39        0        0        0
1100304            0        0       41        0        0        0        0
1200203            0        0        0        0        0      843        0
...              ...      ...      ...      ...      ...      ...      ...
5108402         2983     3104     4901     2870        0        0        0
5204508            0        0        0        0        0        0        0
5208707            0        0        0        0        0        0        0
5218805            0        0        0        0        0        0        0
5300108            0        0     8985        0     1040     7775        0

             1301001  1301209  1301407  ...  5107859  5107909  5107925  \
co_muni_ori                             ...
1100049            0        0        0  ...        0        0        0
1100122            0        0        0  ...        0        0        0
1100205            0        0        0  ...        0        0        0
1100304            0        0        0  ...        0        0        0
1200203            0        0        0  ...        0        0        0
...              ...      ...      ...  ...      ...      ...      ...
5108402            0        0        0  ...        0     3638     3183
5204508            0        0        0  ...        0        0        0
5208707            0        0        0  ...        0        0        0
5218805            0        0        0  ...        0        0        0
5300108            0        0        0  ...        0     3745        0

             5107958  5108402  5204508  5208707  5218805  5300108  4128807
co_muni_ori
1100049            0     3316        0        0        0        0      NaN
1100122            0     3218        0        0        0        0      NaN
1100205            0     4935        0        0        0     9244      NaN
1100304            0     2877        0        0        0        0      NaN
1200203            0        0        0        0        0      938      NaN
...              ...      ...      ...      ...      ...      ...      ...
5108402            0        0        0     3130        0    16801      NaN
5204508            0        0        0        0        0        0      NaN
5208707            0     3124        0        0        0    15246      NaN
5218805            0        0        0        0        0        0      NaN
5300108            0    16028        0    15043        0        0      NaN

[152 rows x 152 columns]

DataFrame for month 8:
             1100049  1100122  1100205  1100304  1200203  1200401  1300409  \
co_muni_ori
1100049            0        0        0        0        0        0        0
1100122            0        0        8        0        0        0        0
1100205            0       15        0        0        0       73        0
1100304            0        0        0        0        0        0        0
1200203            0        0        0        0        0      854        0

In [56]:
df_month_1 = processed_dfs[1]

# Get the number of rows and columns
num_rows, num_columns = df_month_1.shape

# Print the number of rows and columns
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 147
Number of columns: 148

## all data

In [179]:
df2.head()

,ano,mes,nat,nome_muni_ori,uf_ori,nome_muni_des,uf_des,co_muni_ori,co_muni_des,aero_pass,co_uf_ori,co_uf_des,aero_pass_week,aero_conec
0,2017,1,DOMÉSTICA,Alta Floresta,MT,Várzea Grande,MT,5100250,5108402,2850,51,51,712.50,28.50
1,2017,1,DOMÉSTICA,Altamira,PA,Belo Horizonte,MG,1500602,3106200,0,15,15,0.00,0.00
2,2017,1,DOMÉSTICA,Altamira,PA,Belém,PA,1500602,1501402,4785,15,15,1196.25,47.85
3,2017,1,DOMÉSTICA,Altamira,PA,Campinas,SP,1500602,3509502,0,15,15,0.00,0.00
4,2017,1,DOMÉSTICA,Altamira,PA,Itaituba,PA,1500602,1503606,36,15,15,9.00,0.36

In [180]:
df2.co_muni_des = df2.co_muni_des.astype(str)
df2.co_muni_ori = df2.co_muni_ori.astype(str)

In [ ]:
df2 = df2[df2['nat'] == 'DOMÉSTICA']
df2.head()

In [182]:
#o dado usado por juliane aero_anac.parquet' não apresentava este erro.
busca = df2.index[df2['co_muni_des'] == 'SÃO LOURENÇO']
df2.loc[busca, 'co_muni_des'] = 3163706

In [183]:
busca = df2.index[df2['co_muni_des'] == 'COLATINA']
df2.loc[busca, 'co_muni_des'] = 3201506

In [184]:
df2.co_muni_des = df2.co_muni_des.astype(int)
df2.co_muni_ori = df2.co_muni_ori.astype(int)

In [185]:
# dat = df2.pivot(index='co_muni_ori', columns='co_muni_des', values='aero_pass_week')
dat_air = df2.pivot_table(index='co_muni_ori', columns='co_muni_des', values='aero_pass_week', aggfunc='mean')

In [186]:
# o resultado do pivot de juliane apresentava 160 rows × 161 columns
dat_air

co_muni_des,1100049,1100122,1100205,1100304,1200203,1200401,1300144,1300409,1300706,1300805,...,5107859,5107909,5107925,5107958,5108402,5201108,5204508,5208707,5218805,5300108
co_muni_ori,,,,,,,,,,,,,,,,,,,,,
1100049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,NaN,NaN,625.052885,NaN,NaN,3.500000,NaN,NaN
1100122,28.5,NaN,11.909091,7.500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.250000,20.5000,NaN,622.475410,NaN,NaN,NaN,NaN,NaN
1100205,NaN,8.923077,NaN,25.375,0.000000,221.603774,NaN,NaN,NaN,NaN,...,NaN,0.000000,NaN,NaN,1033.177632,NaN,NaN,3.062500,NaN,2410.309211
1100304,0.0,0.000000,21.050000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,463.967742,NaN,NaN,NaN,NaN,NaN
1200203,NaN,NaN,10.250000,NaN,NaN,306.210714,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.041667,NaN,NaN,NaN,NaN,238.789286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5201108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
5204508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,0.000000
5208707,NaN,NaN,NaN,26.500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,889.566901,NaN,10.9375,NaN,0.0,2939.690000
5218805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5300108,NaN,NaN,2358.394737,NaN,216.267857,1922.279605,NaN,NaN,NaN,NaN,...,NaN,649.941176,52.3125,NaN,4186.866667,NaN,19.5000,2926.570946,NaN,NaN

In [189]:
lst_air = set(df3['Código Município Completo']) - set(dat_air.columns)

In [190]:
# for value in lst_air:
    
#     lis = [0]*len(dat_air)

#     d = {value: lis}
#     dtf = pd.DataFrame(data=d)
#     dtf.set_index(dat_air.index)
    
#     dat_air = dat_air.join(dtf)

#parallel
def process_value(value):
    lis = [0] * len(dat_air)
    d = {value: lis}
    dtf = pd.DataFrame(data=d)
    dtf.set_index(dat_air.index)
    return dtf

if __name__ == '__main__':
    # Number of process and cpus
    num_process = cpu_count()

    # pool of process
    pool = Pool(processes=num_process)

    # Aplpy function processar_valor for each value in lst
    results = pool.map(process_value, lst_air)

    # Close pool and make resources available
    pool.close()
    pool.join()

    # Join results to the original DataFrame
    for dtf in results:
        dat_air = dat_air.join(dtf)

In [191]:
dat_air.head()

,1100049,1100122,1100205,1100304,1200203,1200401,1300144,1300409,1300706,1300805,...,2408409,3538907,2932705,1507300,1703909,3145703,3555307,1720309,3162104,5210109
co_muni_ori,,,,,,,,,,,,,,,,,,,,,
1100049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1100122,28.5,NaN,11.909091,7.500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1100205,NaN,8.923077,NaN,25.375,0.0,221.603774,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1100304,0.0,0.000000,21.050000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1200203,NaN,NaN,10.250000,NaN,NaN,306.210714,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [206]:
lst_index = set(df3['Código Município Completo']) - set(dat_air.index)

In [207]:
len(dat_air.columns)

5570

In [208]:
dat_air.head()

,1100049,1100122,1100205,1100304,1200203,1200401,1300144,1300409,1300706,1300805,...,2408409,3538907,2932705,1507300,1703909,3145703,3555307,1720309,3162104,5210109
co_muni_ori,,,,,,,,,,,,,,,,,,,,,
1100049,0.0,0.000000,0.000000,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100122,28.5,0.000000,11.909091,7.500,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100205,0.0,8.923077,0.000000,25.375,0.0,221.603774,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100304,0.0,0.000000,21.050000,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1200203,0.0,0.000000,10.250000,0.000,0.0,306.210714,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [209]:
for value in lst_index:
    dat_air.loc[value] = [0]*5570

In [210]:
dat_air = dat_air.fillna(0)
dat_air

,1100049,1100122,1100205,1100304,1200203,1200401,1300144,1300409,1300706,1300805,...,2408409,3538907,2932705,1507300,1703909,3145703,3555307,1720309,3162104,5210109
co_muni_ori,,,,,,,,,,,,,,,,,,,,,
1100049,0.0,0.000000,0.000000,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100122,28.5,0.000000,11.909091,7.500,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100205,0.0,8.923077,0.000000,25.375,0.0,221.603774,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100304,0.0,0.000000,21.050000,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1200203,0.0,0.000000,10.250000,0.000,0.0,306.210714,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3145703,0.0,0.000000,0.000000,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3555307,0.0,0.000000,0.000000,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1720309,0.0,0.000000,0.000000,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3162104,0.0,0.000000,0.000000,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5210109,0.0,0.000000,0.000000,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [211]:
dat_air = dat_air.reindex(sorted(dat_air.columns), axis=1)

In [212]:
dat_air = dat_air.sort_index(axis=0)

In [213]:
#1766 rows × 5570 columns
dat_air

,1100015,1100023,1100031,1100049,1100056,1100064,1100072,1100080,1100098,1100106,...,5221601,5221700,5221809,5221858,5221908,5222005,5222054,5222203,5222302,5300108
co_muni_ori,,,,,,,,,,,,,,,,,,,,,
1100015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100049,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100056,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5222005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5222054,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5222203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5222302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5300108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [214]:
link_muni_vertice = pd.DataFrame(dat.columns, columns=['muni'])

In [215]:
def get_mnumber(name):
    muni[muni['Nome_Município'] == name]
    
    co_mu = muni[muni['Nome_Município'] == name].reset_index()['Código Município Completo'][0]
    muni_number = link_muni_vertice[link_muni_vertice['muni'] == co_mu]['muni'].index.tolist()[0]
    print(muni_number,co_mu)

In [216]:
get_mnumber('Chupinguaia')

33 1100924

In [217]:
get_mnumber("Pimenta Bueno")

15 1100189

In [218]:
dat.loc[1100924,1100189]

0.0

In [219]:
dat.loc[1100189,1100924]

0.0

In [220]:
# Salvar adjacency_matrix para a mobilidade air

In [221]:
table = pa.Table.from_pandas(dat)
pq.write_table(table, 'air_adjacency_matrix.parquet')

#'/Users/julianeoliveira/Documents/Projects/AESOP/AESOP datalake/Mobility - Road-air-fluvial networks/air_adjacency_matrix.parquet')

# Sum aero, road and waterway matrix

Lembre que na tabela de air estamos coletando o numero de passageiros por semana. Para somar com a tabela de road_water precisa dividir os valores da tabela air pelo numero de passageiros de um ônibus (aqui 60)

In [222]:
# Read the Adjacent matrix
link1 = '/Users/andreza/reproducibility_transportation_hubs-early_warning_surveillance_systems/code/air_adjacency_matrix.parquet'

#/Users/julianeoliveira/Documents/Projects/AESOP/AESOP datalake/Mobility - Road-air-fluvial networks/adjacency_matrix.parquet'

df_air = pd.read_parquet(link1, engine='pyarrow')

In [223]:
# Read the Adjacent matrix
link2 = '/Users/andreza/reproducibility_transportation_hubs-early_warning_surveillance_systems/code/road_water_adjacency_matrix_symetric.parquet'

df_rf = pd.read_parquet(link2, engine='pyarrow')

In [224]:
df_air

,1100015,1100023,1100031,1100049,1100056,1100064,1100072,1100080,1100098,1100106,...,5221601,5221700,5221809,5221858,5221908,5222005,5222054,5222203,5222302,5300108
co_muni_ori,,,,,,,,,,,,,,,,,,,,,
1100015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100049,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100056,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5222005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5222054,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5222203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5222302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5300108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [225]:
df_rf

,1100015,1100023,1100031,1100049,1100056,1100064,1100072,1100080,1100098,1100106,...,5221601,5221700,5221809,5221858,5221908,5222005,5222054,5222203,5222302,5300108
co_muni_ori,,,,,,,,,,,,,,,,,,,,,
1100015,0.0,7.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100023,7.0,0.0,0.0,197.0,28.0,28.0,0.0,27.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
1100031,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100049,20.0,197.0,0.0,0.0,21.0,21.0,0.0,0.0,49.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0
1100056,0.0,28.0,0.0,21.0,0.0,56.0,24.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5222005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,42.0,11.0,0.0,0.0,0.0,0.0,0.0,35.0
5222054,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5222203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5222302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0
5300108,0.0,8.0,0.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0,...,87.0,7.0,0.0,0.0,0.0,35.0,0.0,0.0,28.0,0.0

In [226]:
#final;

In [227]:
dat2 = df_air/25#dat/60

In [228]:
dat2

,1100015,1100023,1100031,1100049,1100056,1100064,1100072,1100080,1100098,1100106,...,5221601,5221700,5221809,5221858,5221908,5222005,5222054,5222203,5222302,5300108
co_muni_ori,,,,,,,,,,,,,,,,,,,,,
1100015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100049,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100056,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5222005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5222054,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5222203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5222302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5300108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [229]:
data_new = df_rf.add(dat2, fill_value=0)
data_new

,1100015,1100023,1100031,1100049,1100056,1100064,1100072,1100080,1100098,1100106,...,5221601,5221700,5221809,5221858,5221908,5222005,5222054,5222203,5222302,5300108
co_muni_ori,,,,,,,,,,,,,,,,,,,,,
1100015,0.0,7.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100023,7.0,0.0,0.0,197.0,28.0,28.0,0.0,27.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
1100031,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1100049,20.0,197.0,0.0,0.0,21.0,21.0,0.0,0.0,49.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0
1100056,0.0,28.0,0.0,21.0,0.0,56.0,24.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5222005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,42.0,11.0,0.0,0.0,0.0,0.0,0.0,35.0
5222054,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5222203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5222302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0
5300108,0.0,8.0,0.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0,...,87.0,7.0,0.0,0.0,0.0,35.0,0.0,0.0,28.0,0.0

In [230]:
#data_new = final.add(dat2, fill_value=0)
#data_new

In [231]:
print(dat2.loc[1100924,1100189])
print(dat2.loc[1100189,1100924])

0.0
0.0

In [232]:
print(df_rf.loc[1100924,1100189])
print(df_rf.loc[1100189,1100924])

5.0
5.0

In [233]:
print(data_new.loc[1100924,1100189])
print(data_new.loc[1100189,1100924])

5.0
5.0

In [234]:
table = pa.Table.from_pandas(data_new)
pq.write_table(table, 'adjacency_matrix_correct.parquet')
               
               
#'/Users/julianeoliveira/Documents/Projects/AESOP/AESOP datalake/Mobility - Road-air-fluvial networks/adjacency_matrix.parquet')